{% extends 'eventos/base.html' %}

{% block titulo %}Mis Entradas{% endblock %}

{% block contenido %}
    <h1>Mis Entradas</h1>
    <p style="color:#8b8a9e; margin-bottom:24px;">Todas tus entradas compradas</p>

    {% if entrada.qr_code_base64 %}
    <div>
        <img src="data:image/png;base64,{{ entrada.qr_code_base64 }}" 
        alt="QR de la entrada" 
        style="width:130px; height:130px; border-radius:14px; border:2px solid #ede9fe; padding:6px; background:#ffffff;">
    </div>
{% elif entrada.qr_code %}
    <div>
        <img src="{{ entrada.qr_code.url }}" 
        alt="QR de la entrada" 
        style="width:130px; height:130px; border-radius:14px; border:2px solid #ede9fe; padding:6px; background:#ffffff;">
    </div>
{% else %}
    <p style="color:#8b8a9e; font-size:0.8rem;">QR no disponible</p>
{% endif %}
{% endblock %}